<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381330069791-omje0pj9qud50v1mo9pn6rj9af1ogv38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381330069791-omje0pj9qud50v1mo9pn6rj9af1ogv38</string>
	<key>API_KEY</key>
	<string>AIzaSyD6QFhX_nthTi20HF5tffqVvWnB6q-77co</string>
	<key>GCM_SENDER_ID</key>
	<string>381330069791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuksun.volunteer</string>
	<key>PROJECT_ID</key>
	<string>volunteer-service-728ab</string>
	<key>STORAGE_BUCKET</key>
	<string>volunteer-service-728ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381330069791:ios:c57ad39aabeb729a56382a</string>
</dict>
</plist>